<!DOCTYPE html>
<html>
<head>
    <title>
        <%= subject %>
    </title>
</head>

<body>
<h1>
    <%= stadt %>
    <br>
    <%= temperatur %>
    <br>
    <%= wetter %>
    <br>
    <%= zeit %>
</h1>
</body>